@charset "UTF-8";
div {
    border: #CC3366 medium solid;
    padding: 5px;
}

#N1 {
    height: 600px;
    /* width: 1000px; */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    /* -webkit-flex-direction:column; */
}

#N2a {
    /* -webkit-flex: 1; */
    /* -webkit-flex: 0.5; */
    -webkit-flex: 1 3 5em;
}

#N2b {
    -webkit-flex: 1 1 40em;
    /* width:40em; */
    /* -webkit-flex: 2; */
    /* -webkit-flex: 1; */
}

#N2c {
    -webkit-flex: 1 1 5em;
    /* -webkit-flex: 1; */
    /* -webkit-flex: 0.5; */
    display:-webkit-flex;
    -webkit-flex-direction: column;
    /* -webkit-align-items:flex-start; */
}

#N3a {
    -webkit-flex: 3;
}

#N3b {
    -webkit-flex: 1;
}

#N3c {
    -webkit-flex: 1;
}